.background {
    min-height: 55rem;
    background-color: rgb(246, 249, 252);
  }
  .container {
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
  }

  .detailsContainer {
    display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding-top: 5rem;
  
   
  }
  
  .detailsWrap {
    background-color: white;
    margin: 0 15rem;
    margin-bottom: 3rem;
    padding: 2rem;
  }


  .detailsWrap_1 {
    margin-bottom: 3rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  }
  
  .detailsPart{
    /* height: 1rem; */
    margin-bottom: .8rem;
  }

  .detailsPart label{
    color: grey;
    font-size: .9rem;
  }

 
  .detailsP{
    display: inline;
    margin-left: 2rem;
    font-size: 1.1rem;
  }

  .detailsStock {
    /* border: 1px solid black; */
    background-color: rgb(76, 175, 79);
    color: #fff;
    display: inline;
    margin-left: 2rem;
    font-size: .9rem;
    text-align: center;
    border-radius: 5px;
    padding: .5rem 0.8rem; 
    font-weight: 100;
  }
  .detailsInUse {
    background-color: rgb(226, 226, 226);
    text-align: center;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    font-weight: 100;
  }
  .detailsDisposed {
    background-color: rgb(245, 124, 1);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 1rem 0.5rem;
    font-weight: 100;
  }

  .detailsButton{
    display: flex;
    margin-bottom: 2rem;
  }

  .detailsButton div{
      text-align: center;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      width: 6rem;
      padding: 1rem 0;
      color: #fff;
      background-color: rgb(55, 111, 207);
      margin-left: 1rem;
  }

  .detailsButton div:hover {
    background-color: rgb(47, 93, 174);
  }
  /* .detailsButtonEdit{
    text-align: center;
      font-size: 1rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      width: 6rem;
      padding: 1rem 0;
      color: #fff;
      background-color: rgb(55, 111, 207);
  } */





  @media all and  ( max-width: 1500px){
    .detailsWrap {
      
      margin: 0 12rem;
      
    }
  }
  @media all and  ( max-width: 1300px){
    .detailsWrap {
      
      margin: 0 10rem;
      
    }
  }
  @media all and  ( max-width: 1000px){
    .detailsWrap {
      
      margin: 0 8rem;
      
    }
  }